.navbar {
    background-color: #7272D0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    width: 100%;
}
body{

    background: -webkit-linear-gradient(left, #413636, #000000);
    background: -moz-linear-gradient(left, #413636, #000000);
    background: -ms-linear-gradient(left, #413636, #000000);
    background: -o-linear-gradient(left, #413636, #000000);
    background: linear-gradient(to right, #413636, #000000);
    
}

.elements {
    display: flex;
}

.navbar img {
    height: 100px;
}

.navbar li {
    list-style-type: none;
    margin-right: 15px;
    display: flex;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.navbar ul{
    display: flex;
}

.navbar li a {
    text-decoration: none;
    color: black;
    transition: color 0.3s; 
}

.navbar li a:hover {
    color: #ffffff; 
}
