.navbar {
    background-color: #7272D0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    width: 100%;
}
body{
    background-color: black;
}

.elements {
    display: flex;
}

.navbar img {
    height: 100px;
}

.navbar li {
    list-style-type: none;
    margin-right: 15px;
    display: flex;
}

.navbar ul{
    display: flex;
}

.navbar li a {
    text-decoration: none;
    color: black;
    transition: color 0.3s; 
}

.navbar li a:hover {
    color: #ffffff; 
}
