h3{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
}

.titulo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
}
.subtitulo{
    display: flex;
    justify-content: center;
    padding: 10px;
}

.container{
    display: flex;
    flex-direction: column;
    padding: 5px;
    
}

.start{
    display: flex;
    margin-left: 70px;
    margin-right: -50px;
    padding: 20px;
}

.start img{
    height: 300px;
    width: 30%;
    display: flex;
    border-radius: 10px;
    
}

.imagens{
    display: flex;
    justify-content: space-evenly;
    padding: 2px;
}

.imagens img:hover{
    cursor: pointer;
}

.textos {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: 35px;
    margin-right: 50px;
    margin-top: 20px;
    padding: 18px;
}

.overlay {
    position: relative;
    width: 100%;
    height: 350px;
    background: #7272D0;
    z-index: -1;
    margin-top: -120px; 
}

.divFooter {
    display: flex;
    justify-content: space-evenly;
    margin-right: 20px;
}


.overlay-content {
    padding: 20px;
    color: white;
}

h2{
    margin-top: 180px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.quest {
    display: flex;
    padding: 5px;
}

.quest img{
    height: 230px;
    width: 330px;
    border-radius: 15px;
}

.questFilho{
    display: flex;
    padding: 10px;
    margin: 10px;
    background-color: white;
    width: 30%;
    border-radius: 20px;
       
}

button {
    border-radius: 10px;
    background-color: #3022CF;
    color: white;
    width: 200px;
    border: 0px solid;
    font-weight: bold;
    height: 25px;
}

button:hover{
    background-color: #7272D0;
    cursor: pointer;
}

footer {
    background-color: #1f1e29;
    position:relative;
    margin-top: 2%;
    width: 100%;
    height: 60px;
}

.botoes {
    display: flex;
    flex-direction: column;
}

.elementos{
    display: flex;
    flex-direction: column;
    margin-right: 650px;
}

.exibir{
    background-color: #7272D0;
   display: flex;
   margin-left: -600px;
   height: 100px;
   width: 1000px;
   margin-top: 40px;
   border-radius: 20px;

}

#exibir{
    background-color: #7272D0;
    display: flex;
   flex-direction: column;
    height: 300px;
    width: 600px;
    padding: 10px;
    border-radius: 20px;
}

.spanQuiz:hover{
 cursor: pointer;
 color:#3022CF;
 text-decoration: none;
}


