h2{
    font-weight: bold;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #3022cf;
}

label{
    color: white;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

input {
    background-color: transparent;
    height: 3vh;
    padding: 10px;
    width: 20vw;
    border: 1px solid white;
    border-radius: 15px;
    color: white;

  }
  
  input:focus {
    color: white;
    outline-color: rgb(0, 255, 255);
    box-shadow: -2px -2px 10px rgb(0, 255, 255);
    transition: .1s;
    transition-property: box-shadow;
  }

button{
    border: 0px solid;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    background-color: #3022cf;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 130px;
    height: 35px;
}

button:hover {
    transition: 0.03s;
    background-color: #584eca;
    cursor: pointer;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    border: 1px solid #584eca; 
    border-radius: 15px;
    height: 80vh;
    width: 30vw;
    margin-left: 36vw;
    
}

.start img{
    height: 300px;
    width: 30%;
    display: flex;
    border-radius: 10px;
}

.frango{
    height: 400px;
    width: 1200px;
    border-radius: 10px;
    margin-left: 1000px;
    margin-top: -530px;
}

.modal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;
    align-items: center;
     color: black;
     font-weight: bold;
     font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     margin-top: -35px;
     
 }
 
 #msg{
     border-radius: 15px;
     background-color: white;
     border: none;
     height: 35vh;
     width: 25%;
     overflow: hidden;
     padding: -5px;
     border: 3px solid black;
 }
 