h2{
    color: white;
}

button{
    border:0px solid;
    border-radius: 10px;
    color:white;
    font-weight: bold;
    background-color: #3022cf;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 130px;
    height: 35px;
    margin-top: 5vh;
    margin-left: 2vw;
}

#botoes {
    margin-left: -2vw;
}

button:hover{
     transition: 0.03s;
    background-color: #584eca;
    cursor: pointer;
}

#question_container{
    margin-top: 10vh;
}

.containerAll{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;
    border: 1px solid #3022cf;
    width: 45vw;
    height: 65vh;
    margin-left: 27vw;
}

.modal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
     color: black;
     font-weight: bold;
     font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     
 }
 
 #informacoes{
     border-radius: 15px;
     background-color: white;
     border: none;
     height: 50vh;
     width: 25%;
     overflow: hidden;
     padding: -5px;
     border: 3px solid black;
 }

 .b{
    margin-left: 5vw;
 }